@tailwind base;
@tailwind components;
@tailwind utilities;





/* تخصيص لون البادج */
.ant-badge .ant-badge-count {
  background-color: #facc15 !important; /* أصفر مودرن */
  color: #1f2937 !important; /* نص غامق علشان يبقى واضح */
  font-weight: 600;
}

/* تخصيص النقط بتاعت الكاروسيل */
.ant-carousel .slick-dots li button {
  background-color: #1f2937 !important; /* دارك جراي */
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: #facc15 !important; /* أصفر عند الاختيار */
}

/* hourglass.css */
.hourglass {
  display: inline-block;
  width: 40px;
  height: 60px;
  background: conic-gradient(#facc15 0 25%, transparent 0 50%, #facc15 0 75%, transparent 0);
  border-radius: 50% 50% 50% 50% / 20% 20% 80% 80%;
  animation: flip 2s infinite linear;
}

@keyframes flip {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
