@tailwind base;
@tailwind components;
@tailwind utilities;
.ant-badge .ant-badge-count {
    background-color: #a11598 !important;
}


.ant-carousel .slick-dots li button{
    background-color: rgb(158, 12, 112) !important; /* Changes the dots to black */
}
.offers {
  padding: 3rem;
}